
header { 
    position: fixed;
    top: 0; 
    left: 0; 
    right: 0; 
    z-index: 1000;
    background-color: #fff; 
}

body.scroll-hidden { 
    overflow: hidden; 
}

body.scroll-hidden footer { opacity: hidden; }

#wrap { 
    padding-top: 7.5rem; 
    margin: 0 auto; 
}

footer { 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;   
     -webkit-box-align: start;   
         -ms-flex-align: start;   
             align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: #052B4A; 
    padding: 3.5rem 7.5rem 2.5rem; 
}

footer .btn-group .btn { -ms-flex-negative: 0; flex-shrink: 0; }  
footer .btn-group .btn:hover { color: #fff; }
 


section .section-title { 
    margin-bottom: 1.875rem; 
    text-align: center;
    font-size: 1.25rem; 
    color: #325FAB; 
}

section { overflow: hidden; }

section [class*="-card"] { 
    max-width: 1200px; 
    margin: 0 auto; 
}



.board-filter a.dd-selected { 
    padding: .625rem 1.25rem; 
    border: 1px solid #E0E0E0; 
    border-radius: .25rem;
}

.board-filter .dd-pointer { right: 20px; }
.board-filter a.dd-selected .dd-selected-text { margin-right: .625rem; }

.board-filter a.dd-option { 
    background-color: #fff; 
    padding: .625rem 1.25rem; 
    color: #2E2E2E; 
}
.board-filter a.dd-option:hover { 
    background-color: #f9f9f9; 
    color: #2E2E2E; 
}

.board-filter ul.dd-options { 
    border: 1px solid #E0E0E0; 
    border-top: 0; 
    margin-top: -4px; 
    border-bottom-left-radius: .25rem;
    border-bottom-right-radius: .25rem;
}

div.dd-container { height: 100%; }

div.dd-select { 
    background-color: transparent !important; 
    border: none; 
}

a.dd-selected { 
    min-width: auto; 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    -webkit-box-align: center;    -ms-flex-align: center;    align-items: center;
    height: 2.5rem; 
    font-size: .875rem; 
    font-weight: 400;
}

img.dd-selected-image, 
img.dd-option-image { margin-right: .625rem; }
label.dd-selected-text { line-height: .875rem !important; }
span.dd-pointer-down { border-top-color: #B8C9D6; }
span.dd-pointer-up { border-bottom-color: #B8C9D6 !important; }

ul.dd-options { -webkit-box-shadow: none; box-shadow: none; border: none; }

a.dd-option { 
    background-color: #052B4A; 
    height: 40px; 
    line-height: 40px; 
    border-bottom: 0; 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    -webkit-box-align: center;    -ms-flex-align: center;    align-items: center;
    padding: .625rem; 
    font-size: .875rem; 
    font-weight: 400;
}

a.dd-option:hover { 
    background-color: #011D33; 
    color: #B8C9D6; 
}

label.dd-option-text { line-height: inherit !important; }


.page { 
    margin: auto; 
    padding: 6.25rem 2.5rem 12rem; 
}

.page .page-title, 
.page .page-content { 
    width: 100%; 
    max-width: 1200px; 
    margin: auto; 
}

.page .page-title { margin-bottom: 3.75rem; }

.page.remove-padding,
.page.full-screen { 
    padding: 6.25rem 0 12rem;
}

.page.remove-padding.full-screen { padding-bottom: 0; }

.page.full-screen .page-content { 
    width: 100%; 
    max-width: 100%; 
}

.page-title { margin-bottom: 4.75rem; }
.page.remove-padding .page-title { padding: 0; }


.page-title h2 { 
    text-align: center;
    font-size: 2rem; 
}


.ocu-info-card { 
    background-color: #fff; 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    -webkit-box-align: center;    -ms-flex-align: center;    align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 7.5rem auto; 
    padding: 1.875rem 3.75rem;
    -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
            box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.ocu-info-card div { 
    max-width: 16rem; 
    margin-right: 1.875rem; 
}

.ocu-info-card p { 
    display: flex; 
    justify-content: flex-end;
    line-height: 1.625rem; 
    color: #444; 
}

.ocu-product-card { 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    -webkit-box-align: center;    -ms-flex-align: center;    align-items: center;
}

.ocu-product-card .card-item { 
    -webkit-box-flex: 1; 
        -ms-flex: 1; 
            flex: 1; 
    display: block; 
    text-align: center;
    display: -webkit-flex;
    -webkit-box-orient: vertical; 
        -ms-flex-direction: column; 
        flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.ocu-product-card h3 { 
    margin-top: 1.25rem; 
    line-height: 1.625rem; 
    font-size: 1.25rem; 
    font-weight: 700; 
}

.ocu-product-card p { 
    margin-top: .313rem; 
    line-height: 1.625rem; 
}


.board-content-attach-file .icon-download { 
    width: .625rem; 
    margin-right: .5rem; 
}

.history-card { 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    
    -webkit-box-pack: center;    
        -ms-flex-pack: center;    
            justify-content: center;
    width: 100%; 
    max-width: 1200px; 
    padding-top: 2.5rem; 
    margin: 0 auto; 
    position: relative;
}

.board-card.table td { vertical-align: middle ;}

.history-card table { max-width: 1100px; margin: auto; }

.history-card .text-right li { text-align: right; }

.history-card.mobile-card table { width: auto; }

.history-card ul li { 
    line-height: 2.375rem; 
    font-size: 1.125rem; 
}

.history-card ul li::before { 
    content: ''; 
    display: inline-block; 
    position: relative; 
    top: -4px; 
    background: #444; 
    min-width: 4px; 
    min-height: 4px; 
    border-radius: 50%;
    margin-right: .5rem; 
} 

.history-card td { vertical-align: top; }

.history-card td.date { 
    width: 64px; 
    position: relative;
}

.history-card td.date div::before { 
    content: ''; 
    position: absolute;
    margin: auto; 
    left: 0; 
    right: 0; 
    display: block;
    background-color: #ebebeb;
    width: 4px;
    height: 100%;
}

.history-card td .img-box img { max-width: 250px; }

.history-card .date-circle {
    display: inline-block; 
    background-color: #325FAB; 
    min-width: 4rem;
    height: 4rem;
    line-height: 4rem; 
    text-align: center;
    margin: 0 2.5rem; 
    border-radius: 50%;
    font-size: 1.25rem; 
    color: #fff; 
    z-index: 100; 
    position: relative;
}

.history-card .date { overflow: hidden; }

.history-card .date::after { 
    content: ''; 
    position: absolute;
    margin: auto; 
    left: 0; 
    right: 0; 
    display: block;
    background-color: #ebebeb;
    width: 4px;
    height: 460px;
}

.history-card.mobile-card .text.img-box, 
.history-card.mobile-card ul { margin-bottom: 2.5rem; }

.mobile-card .text-center.vs { 
    margin: .625rem 0; 
    font-size: 1.25rem; 
    color: #9E9E9E; 
}

.history-card.pc-card { padding-left: 6rem; }

.news-card { 
    padding: 1.875rem 3.75rem; 
    -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.2); 
            box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    border-radius: .625rem; 
}

.board-header { 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    
    -webkit-box-align: center;    
    -ms-flex-align: center;    
    align-items: center;
    margin-bottom: .625rem; 
    position: relative; 
}

.section-header { 
    position: relative; 
    width: 100%; 
    max-width: 1200px; 
    margin: auto; 
}

.section-header h3, 
.board-header h3 { 
    font-size: 1.25rem; 
    color: #325FAB; 
}

.section-header .more-view-btn, 
.board-header .more-view-btn { 
    position: absolute; 
    right: 0; 
    bottom: .25rem; 
    margin-left: auto; 
    color: #9E9E9E; 
}

.board-card table td.making-name { padding-left: 3.75rem; }

.board-list li { 
    border-top: 1px solid #EDEDED; 
    padding: .875rem 0; 
    display: flex;
    display: -webkit-flex; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify; 
    justify-content: space-between;


}

.board-list li a { 
    display: block; 
    font-size: .875rem; 
}

.board-list li .register-date { 
    margin-left: auto;
    font-size: .875rem; 
}

.notice-card { 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3.75rem 0; 
}

.notice-card > * { 
    -webkit-box-flex: 1; 
        -ms-flex: 1; 
            flex: 1; 
}

.notice-card .img-box { 
    text-align: center;
}

.notice-card .board { 
    margin-left: 3rem; 
}

.review-text.mobile-review-text { display: none; }

.inquiry-card { 
    background-color: #fff; 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    -webkit-box-align: center;    -ms-flex-align: center;    align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.875rem 3.75rem;
    -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
            box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.inquiry-card h3 { text-align: left; }

.inquiry-card .apply-btn { 
    width: 10.625rem; 
    padding: 1rem 1.875rem; 
    border-radius: 1.875rem;
    -webkit-box-shadow: 0px 3px 6px rgba(21,70,154,.5);
            box-shadow: 0px 3px 6px rgba(21,70,154,.5);
    font-size: 1.125rem; 
}



.inquiry-card .inquiry-list li + li { 
    margin-top: .5rem;
}

.inquiry-card .inquiry-list li span { 
    display: inline-block;
    min-width: 3.75rem; 
    margin-right: 1rem; 
    text-align:justify; 
}

.mobile-btn { 
    display: none; 
    text-align: center;
    margin-top: .625rem; 
}
.mobile-btn a { 
    display: inline-block; 
    padding: .225rem 1rem; 
    border-radius: 1rem;
    border: 1px solid #EBEBEB;
}

company-detail-list { margin-right: 1.875rem; }

.company-detail-list ul li { 
    line-height: 1.5rem;
    font-size: .875rem; 
    opacity: .5;
    color: #fff; 
}

.company-detail-list .logo-w { 
    margin-bottom: 1.25rem; 
}

.greeting-ceo p { 
    margin-top: 1.5rem;
    line-height: 1.625rem; 
    text-shadow: 0 2px 2px #fff;
}

.greeting-ceo .ceo-sign-img { 
    max-width: 170px; 
    margin-top: 1.875rem; 
}

.certification-list { 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    display: flex;
    -webkit-box-orient: vertical; 
        -ms-flex-direction: column; 
        flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.certification-list ul { 
    display: -webkit-inline-box; 
    display: -ms-inline-flexbox; 
    display: inline-flex; 
    -webkit-box-pack: center; 
        -ms-flex-pack: center; 
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%; 
    max-width: 1000px; 
    margin: 0 auto; 
}

.certification-list ul li { 
    display: inline-block; 
    width: 100%; 
    max-width: 25%; 
    padding: 0 1.5rem 3.75rem; 
    text-align: center;
}

.certification-list .certi-img { 
    display: inline-block;
    max-width: 170px; 
    margin-bottom: .75rem; 
    -webkit-box-shadow: 0px 6px 12px rgba(0,0,0,0.2); 
            box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
}

.product-info .customer-list { 
    width: 100%; 
    max-width: 1200px;
    margin: 0 auto; 
    -webkit-box-shadow: none; 
            box-shadow: none;
}

.customer-list {
    -webkit-box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
            box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
    border-radius: 10px;
}

.customer-list ul { 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    
    -ms-flex-wrap: wrap;    
        flex-wrap: wrap;
}

.customer-list ul li { 
    width: 100%; 
    max-width: 24%; 
    margin-left: 1%; 
    margin-bottom: 1.875rem; 
    text-align: center;
}

.contact .map { 
    width: 100%; 
    border: 1px solid #EBEBEB; 
}

.contact-list { margin-left: 3.75rem; }

.contact div.flex-1 { min-height: 20rem; }
.contact-list ul li + li { margin-top: 3.75rem; }
.contact-list ul li h3 { margin-bottom: .375rem; }
.contact-list ul li p { line-height: 1.625rem; }

.contact-list ul li button { margin-top: 1.25rem; }

.table-input-title { display: none; }

.mobile-write-box { display: none; }

.surgery-adv ul { 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    -ms-flex-wrap: wrap;    flex-wrap: wrap;
}

.surgery-adv ul li { width: 24%; }
.surgery-adv ul li { margin-left: 1%; }

.surgery-side-effect .card-content .img-box, 
.surgery-safe .card-content .img-box {
    margin-left: 2.5rem; 
}

.surgery-side-effect .card-content div:not(.img-box), 
.surgery-safe .card-content div:not(.img-box) { 
    text-align: right;
}

.surgery-effect .card-content .img-box, 
.surgery-light .card-content .img-box {
    margin-right: 2.5rem; 
}

.card-group { 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    -ms-flex-wrap: wrap;    flex-wrap: wrap;
    margin-left: -3%; 
}

.card-group .card { 
    width: 30.33%; 
    margin-left: 3%; 
    margin-bottom: 3.75rem; 
    cursor: pointer;
}

.card-group .card .card-img { 
    /* display: -ms-flexbox;
    display: -webkit-box;
    display: flex;     */
    margin-bottom: 1.25rem; 
    border-radius: .25rem;
    /* overflow: hidden; */
}

.card-group .card h4 { 
    margin-bottom: .375rem; 
}

.card-group .card button { 
    margin-top: 1.25rem; 
}

.card-group .card p { 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    -webkit-box-align: start;    -ms-flex-align: start;    align-items: flex-start;
    margin-bottom: .625rem; 
    line-height: 1.125rem; 
}

.card-group .card p small { 
    font-size: .75rem; 
}

#addressModal .modal-body { 
    -webkit-box-flex: 1; 
        -ms-flex: 1; 
            flex: 1;    
}

#addressModal .modal-body .address-map { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

[class*="-filter"] { margin-bottom: 1.25rem; }
[class*="-filter"] .search { margin-left: .625rem; }

.answer-icon { 
    display: inline-block; 
    width: 8px; 
    height: 6px; 
    margin-right: .375rem; 
    margin-bottom: .188rem; 
    border-left: 1px solid currentColor; 
    border-bottom: 1px solid currentColor; 
}

.precaution { 
    background-color: #EBEBEB; 
    line-height: 1rem; 
    padding: .875rem 1.875rem; 
    font-size: .625rem; 
}

.study-detail-info { 
    height: 100%; 
    line-height: 1.625rem; 
    padding: .875rem 1.25rem; 
    border: 1px solid #E0E0E0; 
    border-radius: .25rem;
    overflow: hidden auto; 
}

.study-detail-info h4 { font-weight: 700; }

.study-detail-info .class-name { margin-bottom: 1.875rem; }

.address-filter.board-filter {   
    -webkit-box-align: end;   
        -ms-flex-align: end;   
            align-items: flex-end;  
    -webkit-box-pack: justify;  
        -ms-flex-pack: justify;  
            justify-content: space-between;
}

.address-map p { 
    font-size: .875rem; 
}

.address-list { 
    height: 100%; 
    min-height: 100px; 
    max-height: 200px; 
    border: 1px solid #E0E0E0; 
    border-radius: .25rem;
}

.over-label { 
    margin-bottom: .675rem; 
    font-size: .875rem; 
}

.card-content.row { 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    -webkit-box-align: start;    -ms-flex-align: start;    align-items: flex-start; 
}

.card-content.row > * { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.card-content.row .img-box { -webkit-box-flex: 1.5; -ms-flex: 1.5; flex: 1.5; }



.surgery-intro .content { 
    width: 100%; 
    max-width: 1200px; 
    margin: auto; 
    border-radius: .625rem;
    -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
            box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}

.surgery-intro .card-content.surgery .surgery-compare { 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    -webkit-box-align: center;    -ms-flex-align: center;    align-items: center;
    margin-bottom: 1.875rem; 
}

.surgery-intro .card-content.surgery .surgery-compare span { 
    margin: 0 .5rem;
    font-size: 1.25rem; 
    color: #9E9E9E;  
}

.surgery-intro .card-content.surgery p { 
    line-height: 2.25rem; 
    text-align: center; 
}

.surgery-intro .card-content.award { 
    position: relative;
    max-width:1000px; 
    margin: auto; 
    padding: 0 3.75rem; 
    -webkit-box-align: end; 
        -ms-flex-align: end; 
            align-items: flex-end;
    margin-left: 2.5rem; 
}

.surgery-intro .card-content.award::after { 
    content: ''; 
    background-color: #F4F7FB; 
    width: 13.75rem; 
    height: 13.75rem; 
    border-radius: 50%;
    position: absolute; 
    right: 0; 
    top: 0; 
    
}

.surgery-intro .card-content.award .img-box { 
    position: relative;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; 
}

.surgery-intro .card-content.award .img-box::after { 
    content: ''; 
    display: block; 
    position: absolute; 
    top: 1rem; 
    left: -4rem; 
    background-color: #F4F7FB; 
    width: 100%; 
    height: 100%; 
}

.surgery-intro .card-content.award .img-box img, 
.surgery-intro .card-content.award .text-box { 
    position: relative;
    z-index: 10; 
}

.surgery-intro .card { 
    padding: 5rem; 
}

.surgery-intro .card-header { 
    margin-bottom: 3.75rem; 
}

.surgery-intro .card-header h3 { 
    line-height: 2rem; 
    text-align: center;
    font-weight: 400; 
    font-size: 1.375rem; 
    color: #325FAB; 
}

.surgery-intro .card-header h3 strong { 
    font-size: 1.625rem; 
}

.surgery-intro .card-content .sub { 
    line-height: 1.625rem; 
    font-size: 1.375rem; 
}

.surgery-intro .card-content h3 { 
    line-height: 2.625rem; 
    margin-bottom: 1.25rem; 
    font-weight: 400; 
    font-size: 2rem; 
}

.surgery-intro .card-content p { line-height: 1.625rem; }

.surgery-intro .card-content p + p { margin-top: 1.25rem; }

.product-info .card { 
    background-color: #fff; 
    width: 100%; 
    max-width: 1200px; 
    margin: auto; 
    padding: 5rem 5rem 3.125rem; 
    border-radius: .625rem; 
    -webkit-box-shadow: 0px 10px 20px rgba(0,0,0,0.2); 
            box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
}

.product-info > div { padding: 1.875rem }

.product-info .card .card-header { 
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;    -webkit-box-align: start;    -ms-flex-align: start;    align-items: flex-start;
}

.product-info .card .card-header > div { 
    width: 100%; 
    -webkit-box-flex: 1; 
        -ms-flex: 1; 
            flex: 1; 
}

.product-info .card .pc-table > div { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.product-info .card .card-header > div img { 
    display: block; 
    width: 100%; 
    max-width: 384px; 
    margin: 1.25rem auto; 
}

.product-info .card .card-header h3 { 
    line-height: 2.625rem; 
    margin-bottom: 1.25rem; 
    font-weight: 400; 
    font-size: 1.625rem; 
    color: #325FAB; 
}
.product-info .card .card-header ul li { 
    line-height: 1.625rem;
}

.product-info .card .card-content .table-two { margin-left: 2.5rem; }

.product-info .card .card-content h4 { 
    margin-bottom: .625rem; 
    color: #325FAB; 
}

.product-info .card .card-content table th { 
    background-color: #F4F7FB; 
    height: 3rem; 
    font-size: .875rem; 
    color: #052B4A; 
}

.product-info .card .card-content table td { 
    height: 3rem; 
    padding: 1rem; 
    text-align: center;
    border-bottom: 1px solid #EDEDED; 
    font-size: .875rem; 
}

.modal.survey { 
    padding: 4.375rem 1.25rem 2.5rem
}

#satisfactionModal .modal-body { 
    padding: 1.25rem; 
    border: 1px solid #EDEDED; 
    border-radius: .25rem;
}


.survey-group ul li { font-size: .875rem; }
.survey-group ul li + li { margin-top: 1.25rem; }
.survey-group ul li p { margin-bottom: .625rem; }
.survey-group ul li form { display: -ms-flexbox; 
    display: -webkit-flex;}
.survey-group ul li form .rdo + .rdo { margin-left: 1.25rem; }
.survey-group ul li form .rdo { -ms-flex-negative: 0; flex-shrink: 0; }
.survey-group ul li form .rdo label::before { margin-right: .25rem; }

.vnm-login.col, 
.kor-login.row { display: none; }

.kor-login.row.active, 
.vnm-login.col.active { display: -ms-flexbox; 
    display: -webkit-flex;}

.vnm-login span { font-size: .875rem; }

.terms { 
    height: 100%; 
    max-height: 500px; 
    line-height: 1.375rem; 
    overflow-y: auto; 
    padding: 1.25rem; 
    border: 1px solid #EDEDED; 
    font-size: .75rem; 
}

.terms p + p { margin-top: 1.875rem; }

.page.greeting .page-content.row { 
    width: 100%; 
    margin: auto; 
    margin-top: -2.5rem; 
    padding: 2.5rem 0; 
}

.page.greeting .page-content { 
    background: url('../img/ceo.png') no-repeat bottom right;
    background-size: 300px; 
    max-width: 1000px; 

}

.page.greeting .content.text { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }
.page.greeting .content.text .greeting-img { max-width: 35rem; }

.gnb-menu-btn {
    display: none; 
    width: 1.75rem; 
    margin-left: auto; 
    padding: 0;
}

.pc-card { display: block; }
.mobile-card { display: none; }

@media (max-width: 1200px) { 

    .notice-card .board { margin-left: 0; margin-top: 2.5rem; }

    .contact .map { margin-bottom: 2.5rem; }

    .ocu-info-card img { max-width: 250px; }

    .pc-card { display: none !important; }
    .mobile-card { display: block; }

    html, body { font-size: 14px; }

    .page-content.surgery-intro { padding: 1.875rem; }

    .page.remove-padding,
    .page.full-screen { padding: 6.25rem 0 12rem }

    .page.full-screen .page-title { padding: 0 1.875rem; }

    .product-info > div, 
    .product-info > div.light-blue-bg { padding: 1.875rem; }

    .surgery-intro .card-content.award .img-box::after { 
        display: none; 
    }

    .notice-card { display: block; }

    /* .notice-card .img-box { margin: auto; width: 80%; } */

    .surgery-intro .card, 
    .product-info .card { padding: 3.75rem 1.875rem 3.125rem}

    .gnb-menu-btn { display: block; }

    .gnb-close-btn { 
        display: block; 
        margin: 0 2.5rem; 
        padding-top: 14px; 
    }

    .gnb-close-btn .btn-close { 
        right: 20px; 
        top: 55px; 
        width: 3.5rem; 
    }

    .gnb-menu { 
        display: none; 
        position: fixed; 
        top: 0; 
        right: 0; 
        background-color: #fff; 
        width: 25rem; 
        height: 100vh; 
        padding-top: 40px; 
        border-left: 1px solid #EDEDED; 
        z-index: 900;
    }

    .gnb-menu.active { display: block; }

    .menu-box { 
        -webkit-box-pack: start; 
            -ms-flex-pack: start; 
                justify-content: flex-start;
        display: block; 
        height: auto; 
        margin: 0; 
    }

    .menu-box.active ul { display: block; }
    .menu-box.active .menu-item { 
        border-bottom-color: #325FAB; 
        color: #325FAB;
    }
    
    .menu-box .menu-item { 
        display: inline-block;
        position: relative; 
        height: 3.5rem; 
        line-height: 3.5rem; 
        margin-left: 2.5rem; 
        padding: 0; 
    }

    .menu-box:not(.no-list)::before { 
        content: ''; 
        right: 40px; 
        top: calc(1.875rem + 3px); 
        -webkit-transform: translateY(-50%); 
                transform: translateY(-50%); 
        border-width: 6px; 
        border-radius: 3px; 
        border-style: solid; 
        border-color: transparent; 
        border-top-color: currentColor; 
        position: absolute;
    }

    .menu-box:not(.no-list).active::before { 
        border-color: transparent;
        border-bottom-color: #325FAB;
        top: calc(1.875rem - 3px); 
    }

    .menu-box ul { 
        position: relative;
        left: auto; 
        top: auto; 
        background-color: #F4F7FB; 
        padding: 1.25rem 2.5rem; 
    }

    .certification-list ul li { max-width: 33%; }
    .card-group { margin-left: -2%; }
    .card-group .card { 
        width: 48%; 
        margin-left: 2%; 
    }

    .card-content.surgery .surgery-compare { 
        display: block; 
    }

    .surgery-intro .card.award { 
        background-color:  #F2F7FF; 
    }

    .surgery-intro .card-content.award { 
        display: block; 
        display: -webkit-flex; 
        -webkit-box-orient: vertical; 
        -ms-webkit-box-orient: vertical; 
        -ms-flex-direction: column; 
        flex-direction: column; 
        -webkit-box-align: center; 
            -ms-flex-align: center; 
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center;
        padding: 0; 
        margin-left: auto; 
    }

    

    .surgery-side-effect .card-content, 
    .surgery-safe .card-content {
        -webkit-box-orient: vertical; 
        -ms-flex-direction: column; 
        flex-direction: column;
        display: block; 
        display: -webkit-flex; 
    }

    .surgery-effect .card-content, 
    .surgery-light .card-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column;
                flex-direction: column;
        display: block; 
        display: -webkit-flex; 
    }

    .surgery-side-effect .card-content .img-box, 
    .surgery-safe .card-content .img-box {
        margin-left: 0; 
        margin-top: 1.875rem;
    }

    .surgery-effect .card-content div:not(.img-box), 
    .surgery-light .card-content div:not(.img-box),  
    .surgery-side-effect .card-content div:not(.img-box), 
    .surgery-safe .card-content div:not(.img-box) { 
        width: 100%; 
        text-align: center;
    }

    .surgery-effect .card-content .img-box, 
    .surgery-light .card-content .img-box {
        width: 100%; 
        margin-right: 0; 
        margin-top: 1.875rem;
    }

    .tab-content .row { 
        max-width: 100%; 
        -webkit-box-orient: vertical; 
        -ms-flex-direction: column; 
        flex-direction: column; 
        display: block; 
        display: -webkit-flex; 
    }

    .tab-btn { 
        max-width: 100%; 
        -webkit-box-flex: 1; 
            -ms-flex: 1; 
                flex: 1; 
    }
    .tab-btn + .tab-btn { 
        margin-left: 0; 
        border-left: 0; 
    }

    .tab-content .review-text + .review-text { margin-left: auto; }

    .tab-btn-group { padding: 0 1.875rem; }
    .tab-content { padding: 0 0 12rem; }

    .tab-content.recommend::before,
    .tab-content.recommend::after,
    .tab-content.review::before { display: none; }

    .tab-content .surgery-method { padding: 0 1.875rem; }

    .customer-list ul li { 
        max-width: 48%; 
        margin-left: 2%;         
    }

    .surgery-intro .card-content.surgery .surgery-compare span { margin: 1rem 0; }
    .page-content.contact .content.row { -webkit-box-orient: vertical; 
        -ms-flex-direction: column; 
        flex-direction: column; }
    .contact-list { margin-left: 0; }

    .tab-content.review { background-image: none; padding: 0 0 12rem; }
    .tab-content .pc-review-text { display: none; }
    .tab-content .review-text.mobile-review-text { display: block; }
    .tab-content .review-text.mobile-review-text > div { padding: 0 1.875rem; }
    .tab-content .review-text.mobile-review-text .card { max-width: 100%; }

    .tab-content .review-text.mobile-review-text .kim-pro,
    .tab-content .review-text.mobile-review-text .lee-pro { 
        background: url('../img/bg-review.jpg') no-repeat center center; 
        margin-top: 2.5rem; 
        padding: 2.5rem 1.875rem; 
    }

    .tab-content .review-text.mobile-review-text .kim-pro .card, 
    .tab-content .review-text.mobile-review-text .lee-pro .card { margin-top: 0; }

    .ocu-info-card { 
        display: block; 
        display: -webkit-flex; 
        display: -ms-flexbox; 
        flex-direction: column;
        align-items: flex-start; 
    }

    .ocu-info-card p { display: block; }

    .ocu-info-card div { margin-bottom: 1.25rem; }

    footer { 
        padding: 3.5rem 3.5rem 2.5rem; 
    }

    .company-detail-list ul li { letter-spacing: -1px;}

    
    .card-group .card h4 { font-size: 1.25rem; }
    .card-group .card p { font-size: 1rem }

    .table table { table-layout: fixed; }
    .table td a { 
        display: block; 
        max-width: 95%;  
        line-height: 1.5rem;
        text-overflow: ellipsis;
        overflow: hidden; 
        white-space: nowrap;
    }

    .page.greeting .page-content { 
        background-size: 275px; 
        background-position: 110% right;
    }
}

@media (max-width: 700px) { 

    footer { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: reverse; 
            -ms-flex-direction: column-reverse; 
                flex-direction: column-reverse;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .board-list li .register-date { display: none; }

    .table-btn-group button.btn.sm { 
        padding: .375rem; 
    }

    .gnb-close-btn .btn-close { 
        right: -12px; 
        top: 16px; 
    }

    .card-group .card:last-child { margin-bottom: 0; }

    .history-card .date-circle { 
        margin: 0; 
    }

    section [class*="-card"]:not(.online-card) { 
        padding: 1.875rem !important; 
    }

    section [class*="-card"].history-card { padding: 0 !important }
    section [class*="-card"].history-card ul, 
    section [class*="-card"].history-card .img-box { 
        padding-left: 1.25rem; 
    }

    .pc-btn.more-view-btn { display: none; }
    .mobile-btn { display: block; }

    form .item input[type="text"],
    form .item input[type="password"] { 
        width: 100%; 
        flex: 1 0 auto; 
    }

    .web-write-box { display: none; }
    .mobile-write-box { 
        display: block; }

    .mobile-td { position: relative; }
    .mobile-td .right { 
        position: absolute; 
        right: 0; 
        top: .25rem; 
    }

    .page { 
        padding: 2.5rem; 
        padding-bottom: 5rem; 
    }

    .gnb-menu { 
        width: 100%;         
    }

    .gnb-menu .gnb-close-btn { 
        height: 70px; 
        position: relative;
    }
    .ocu-info-card,
    .ocu-info-card p { 
        display: block; 
    }
    .ocu-info-card p br { display: none !important; }

    .ocu-product-card {display: block; }


    .ocu-product-card .card-item img { max-width: 80%; }

    .ocu-product-card .card-item + .card-item { margin-top: 1.875rem; }
    .news-card { padding: 1.875rem; }
    .board-list a { margin-right: 1.875rem; }
    .board-list .register-date { -ms-flex-negative: 0; flex-shrink: 0; }

    .inquiry-card { 
        -webkit-box-orient: vertical; 
        -ms-flex-direction: column; 
        flex-direction: column; 
        -webkit-box-align: start; 
            -ms-flex-align: start; 
                align-items: flex-start;
    }

    .inquiry-card div { width: 100% }

    .inquiry-card .apply-btn { 
        display: inline-block;
        width: 100%; 
        margin-top: 1.875rem; 
    }

    section .history-title { text-align: left; }
    .history-card .history-title { width: 20rem; }
    .crumble { display: none; }

    .table td a { margin-bottom: .25rem;}

    .certification-list ul li { max-width: 50%; }

    .page.greeting { 
        background: url('../img/ceo.png') no-repeat;
        /* background-size: 75%;  */
        background-position: 133% 70%;
    }

    .page.greeting .page-content { background-image: none;  }

    .page.greeting .page-content .greeting-ceo p.mobile br { display: none; }
    .page.greeting .page-content .greeting-ceo p.mobile { 
        padding-right: 10rem; 
    }

    .board-card table th, 
    .board-card table td { 
        width: 100%; 
        height: auto; 
        line-height: 1.25rem; 
        padding: .875rem 1.25rem !important; 
    }

    

    .board-card:not(.board-content) table thead, 
    .board-card:not(.board-content) table tbody tr td:first-child, 
    .board-card:not(.board-content) table tbody tr td:nth-child(3), 
    .board-card:not(.board-content) table tbody tr td:nth-child(4),
    .board-card:not(.board-content) table tbody tr td:nth-child(5),
    .board-card:not(.board-content) table tbody tr td:nth-child(6) { display: none; }

    .board-content table thead th:nth-child(2),
    .board-content table thead th:nth-child(3) { 
        display: none; 
    }

    .table td { line-height: 1.875rem; }

    .table .sub-box { display: -ms-flexbox; 
    display: -webkit-flex;}

    .table:not(.board-content) th:nth-child(2), 
    .table td:nth-child(2) { padding-left: 0; }

  

    footer .company-detail-list { 
        display: -ms-flexbox;
    display: -webkit-box;
    display: flex;        -webkit-box-orient: vertical; 
        -ms-flex-direction: column; 
        flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-top: 1.875rem; 
    }

    footer .company-detail-list li { text-align: center; }

    

    .card-group { margin-left: 0; }
    .card-group .card { 
        width: 100%; 
        margin-left: 0; 
    }

    .board-content-attach-file span { display: none; }
    .board-content-attach-file button.download { 
        padding: 0; 
        text-align: left; 
    }


    .content.product-info .card-header div { 
        flex: 1 0 auto; 
    }
    .content.product-info .card-header { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: reverse; 
            -ms-flex-direction: column-reverse; 
                flex-direction: column-reverse;
        display: -ms-flexbox;
        display: -webkit-flex; 
    }



    .product-info .card .card-content { -webkit-box-orient: vertical; 
        -ms-flex-direction: column; 
        flex-direction: column; }
    .product-info .card .card-content > div { width: 100%; }
    .product-info .card .card-content .table-two { 
        margin-top: 2.5rem; 
        margin-left: 0; 
    }

    .pc-table { display: none !important; }
    .mobile-table { 
        width: 100%; 
        display: table; 
    }

    .surgery-adv ul { margin-left: -2%; }
    .surgery-adv ul li { width: 48%; }
    .surgery-adv ul li { 
        margin-left: 2% !important; 
        margin-bottom: 2%; 
    }

    .survey-group ul li form { -webkit-box-orient: vertical; 
        -ms-flex-direction: column; 
        flex-direction: column; }
    .survey-group ul li form .rdo + .rdo { 
        margin-left: 0; 
        margin-top: .625rem; 
    }

    .modal { 
        padding: 4.375rem 1.75rem 2.5rem; 
        /* height: 100vh;  */
        /* height: calc(var(--vh, 1vh) * 100);  */
        height: 100%; 
        max-width: 100%; 
        border-radius: 0;
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;        
        -webkit-box-orient: vertical; 
        -ms-flex-direction: column; 
        flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: flex-;
        -webkit-box-pack: flex-start;
            -ms-flex-pack: flex-start;
                justify-content: flex-start;
        padding-bottom: 3rem; 
        overflow: auto; 
    }

    .history-card.mobile-card ul { padding-left: 1.25rem; }

    /* .card-group .card .card-img { 
        max-height: 260px; 
    } */

    .modal.survey { 
        position:fixed; 
        overflow:hidden; 
    }

    .modal .modal-body { 
        width: 100%; 
        height: 100%;
        -webkit-box-flex: 1; 
            -ms-flex: 1; 
                flex: 1; 
        overflow: auto; 
    }

    /* .modal-footer { padding-bottom: 4rem; } */

    /* .modal .modal-body .study-detail-info, 
    .modal .modal-body .terms { max-height: 100%; } */

    form .item:not([class*="-login"]),
    form .item [class*="-input"] { 
        -webkit-box-orient: vertical; 
        -ms-flex-direction: column; 
        flex-direction: column;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }

    form .item.agree-chk { 
        -webkit-box-orient: horizontal; 
        -webkit-box-direction: normal; 
        -ms-flex-direction: row; 
        flex-direction: row; ;
    }

    form .item > label, 
    form .item [class*="-input"] > label { 
        display: inline-block; 
        margin-bottom: .625rem; 
    }

    form [class*="-input"].include-btn .btn { 
        bottom: .35rem; 
    }

    form .no-label-item { padding-left: 0; }

    .customer-list ul li { 
        max-width: 100%; 
        margin-left: 0;         
        margin-bottom: 2.5rem; 
    }

    .fake-scroll { 
        overflow: hidden;
    }

    .fake-scroll form
    .fake-scroll .precaution { 
        width: calc( 100% + 20px ); 
        max-width: initial; 
        padding-right: 20px; 
    }

    .product-info .card .card-header h3 { text-align: center;}

    
}

